<h1>Bienvenidos al Chat</h1>
<div>
    <form id="logoutForm">
    <button type="submit">Logout</button>
    </form>
</div>
<div>
    <input id="chatBox">
</div>
<div>
    <p id="messageLogs"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/indexChat.js"></script>
<script src="/js/logout.js"></script>