<div>
    <form id="logoutForm">
    <button type="submit">Logout</button>
    </form>
</div>
<div>
    <form id="volver">
    <button type="submit">Volver a Comrpar</button>
    </form>
</div>
<div>
    <h1>Gracias por tu compra</h1>
</div>
<script src="/js/comprar.js"></script>