<div>
    <form id="logoutForm">
    <button type="submit">Logout</button>
    </form>
</div>
<div>
    <h1>Tu perfil (sin datos sensibles)</h1>
    <p>Nombre completo {{user.name}}</p>
    <p>email {{user.email}}</p>
    <p>Edad {{user.age}}</p>
</div>
<script src="/js/logout.js"></script>