<h1>Productos en tiempo real</h1>
<div>
    <form id="logoutForm">
    <button type="submit">Logout</button>
    </form>
</div>
<div>
    <p id="productsRealTime"></p>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/logout.js"></script>